          <!--about-->
          <div class="tab-content" id="about_me" style="display: block;">
            <div class="row">
              <dl class="basic two-third">


                <dt style="text-align:center"><span>نام</span></dt>
                <dd ><%= @profile.first_name%></dd>
                <dt style="text-align:center" > <span>
                  نام خانوادگی
                </span>
                </dt>
                <dd><%= @profile.last_name%></dd>
                <dt>Favorite appliances</dt>
                <dd>Blender, sharp knife</dd>
                <dt>Favorite spices</dt>
                <dd>Chilli, Oregano, Basil</dd>
                <dt>Recipes submitted</dt>
                <dd>9</dd>
                <dt>Posts submitted</dt>
                <dd>9</dd>
              </dl>

              <div class="one-third">
                <ul class="boxed gold">
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Best recipe"><i class="ico i-had_best_recipe"></i> <span>Had a best recipe</span></a></li>
                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Added a first recipe"><i class="ico i-added_first_recipe"></i> <span>Added a first recipe</span></a></li>

                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Added 10-20 recipes"><i class="ico i-added_several_recipes"></i> <span>Added 10-20 recipes</span></a></li>
                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Events"><i class="ico i-wrote_blog_post"></i> <span>Wrote a blog post</span></a></li>
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Fish"><i class="ico i-wrote_comment"></i> <span>Wrote a comment</span></a></li>

                  <li class="dark"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Fish"><i class="ico i-won_contest"></i> <span>Won a contest</span></a></li>
                  <li class="light"><a href="http://www.themeenergy.com/themes/html/social-chef/recipes.html" title="Healthy"><i class="ico i-shared_recipe"></i> <span>Shared a recipe</span></a></li>
                  <li class="medium"><a href="http://www.themeenergy.com/themes/html/social-chef/my_profile.html#" title="Was featured"><i class="ico i-was_featured"></i> <span>Was featured</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--//about-->