<div class="col-md-6 well col-md-push-3" >
	<div class="col-md-6 col-md-push-3">
	<h1>تنظیمات حساب کاربری</h1>
	<%= render 'form' %>
	</div>
	<%= link_to "تغییر رمز کاربری", edit_user_registration_path , :class=>"button b-farsi" %>
	<br>
	<br>
	<%= link_to 'Show', @profile , :class=>"btn btn-default"%> |
	<%= link_to 'Back', profiles_path , :class=>"btn btn-default"%>
</div>
