/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 */
  
 
 div.email_box{
 	float: right;
 }
 div.pass_box{
 	float: right;
 }
 div.rem_box{
 	float: right;
 	margin-top: 50px;
 	margin-right: -107px;
 }
 div.log_in_button{
 	float: right;
 	margin-top: 55px;
 	margin-right: -205px;
 }
 div.forgot{
 	float: right;
 	margin-top: 58px;
 	margin-right: -350px;
 }
 div.forgot_link> a{
 	color: white;
 }
 div.forgot_link> a:hover{
 	color: #252525;
 	text-decoration: none;
 	background-color: gray;
 }
 
 div.log_components{
 	padding: 10px;
 	width: 100%;
 	height: auto;
 	float: right;
 	margin-top: -40px;
 }
 .init_body{
 	margin-top: 10px;
 	background-color: gray;
 }

 .slider_box_size{
 	margin: 0;
 	padding: 0;
 	margin-top: 10px;
 	width: 100%;
 	height: 300px;
 }
 .wrap_size{
 	height: 800px;
 	background-color: white;
 }
 .lol{
 	border-right: solid 205px white;
 	border-left: solid 205px white;
 	background-position: center;
 }
 .end_box{
 	width: 100%;
 	height: 380px;
 	background-color: gray;
 	float: left;
 }