// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_in_bt{
	width:200px;
	margin-right:6%;
}
.forget_text{
	text-align:right;
}