// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plant_profile_pic{
	width: 350px;
	height: 300px;
}
.info_component{
	background-color:white;
	padding:5%;
}
.for_inner_text{
	text-align:left;
	font-size:30px;
}
.tool_plant_creat{
	width:200px;
}