// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.darkcyan{
	background-color: darkcyan;
}
.img_plant_pos{
	width: 230px;
	height:230px;
}
