// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .img_profile{
 	width:200px;
 	height:200px;
 	background-color:#337ab7;
 	margin-top:-40px;
 }
 .img_cover_photo{
 	height:250px;
 	width:100%;
 }
